@use 'variables';

.info--content {
  width: 100%;
  min-width: variables.$min-width;
  background: variables.$primary-1;
  color: variables.$primary-2;
  font-size: 1rem;
  padding: 8% 15%;
  text-align: left;
  p {
    margin-bottom: 5%;
    &:nth-child(2) {
      margin-top: 10%;
    }
  }
  a {
    color: variables.$primary-2;
  }
  img {
    height: 2.5rem;
    margin-top: 3rem;
  }
}
