@use 'variables';

.departures--container {
  width: 100%;
  min-width: variables.$min-width;
  background: variables.$primary-1;
  color: variables.$primary-2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.departure,
h2,
h3 {
  color: variables.$primary-2;
  width: 85%;
  display: flex;
  justify-content: center;
}

h2 {
  justify-content: center;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  gap: 1rem;

  span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 8rem;
  }
}

h3 {
  justify-content: center;

  span {
    border: solid 0.1rem variables.$primary-2;
    flex: 1;
    text-align: center;
  }
}

.departure {
  span {
    flex: 1;
    text-align: center;
    border-bottom: solid 1px variables.$primary-2;
  }
}

.service-updates--container {
  width: 100%;
  min-width: variables.$min-width;
  padding: 0.5rem 2rem;
}

.service-updates--title {
  margin-bottom: 0.5rem;
}

.service-update-details {
  font-weight: 500;
  &::before {
    content: '⦿ ';
    font-size: large;
    color: rgb(204, 0, 0);
  }
}

.service-update-external-link {
  font-size: 0.85rem;
  color: cyan;
}

.service-updates-not-available {
  padding: 0 2.5em;

  &::before {
    content: '⊝ ';
  }
}

.service-updates-note {
  display: flex;
  font-size: 0.8rem;
  font-weight: 600;
  max-width: 25.6rem;
  border: solid 0.1rem variables.$primary-2;
  margin-top: 1rem;
  a {
    color: variables.$primary-2;
  }
  p {
    padding: 0.2rem;
  }
}

.warning-sign {
  font-size: 1.2rem;
  padding: 0.35rem;
  border-right: solid 0.1rem variables.$primary-2;
}

.back {
  background: variables.$primary-1;
  color: variables.$primary-2;
  font-size: 1rem;
  border: solid 0.15rem variables.$primary-2;
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
  margin: 1rem auto;

  &::before {
    content: '< ';
    font-weight: 600;
    position: relative;
    top: 0.1rem;
  }
}
