@use 'variables';

form {
    margin-top: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    width: variables.$cover-width;
    height: 100%; 
    color: variables.$primary-2;
    
}

.search {
    width: 10em;
    height: 2em;
    background: variables.$primary-1;
    border-radius: 2em;
    border: solid 3px variables.$primary-2;
    color: variables.$primary-2;
    font-size: 1.5em;
    margin: 0.5em;
}

label {
    font-size: 1.5em;
}

select,
input {
    margin-bottom: 1.2em;
    border: solid 3px transparent;
    padding: 1px 3px;
    font-size: 1.5em;
    
}

select,
button,
input {
    cursor: pointer;
    transition: 0.1s;
}

select {
    option {
      font-size: 1em;  
    }  
}

.error {
    border: solid 3px variables.$error-1;
}

.error-missing-input {
    position: relative;
    left: -5px;
    top: 2px;
    margin: 0;
    padding-top: 0;
    font-size: xx-large;
}