@use 'variables';

header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: variables.$primary-2;
  margin: 0.8rem auto;
  width: 85%;
  span {
    flex: 1;
    text-align: center;
  }
}

.info {
  z-index: 5;
  background: variables.$primary-1;
  border: solid 0.15rem variables.$primary-2;
  color: variables.$primary-2;
  font-size: 1.2rem;
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
}

.train-icon {
  text-align: center;
  width: 2rem;
}

#language-menu {
  position: relative;
  top: 0.5rem;
  font-size: 1.2em;
  border: solid 0.1rem variables.$primary-2;
  border-radius: 0.2rem;
}
