// colors

$primary-1: rgb(55, 102, 139); 
$primary-2: white; 
$error-1:  rgb(255, 21, 0);
$selection: rgb(7, 20, 106);

// sizes and positions

$min-width: 360px;
$cover-width: 100%;
$cover-height: 800px;
$top: 80px; 