@use 'variables';
@use 'header';
@use 'form';
@use 'departures';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui;
    min-width: 320px;
    max-width: 100vw;
    height: 100vh;
    background: variables.$primary-1;
  }

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    width: 100%;
    height: 100%; 
}



