@use 'variables';
@use 'header';
@use 'form';
@use 'departures';
@use 'appInfo';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: variables.$primary-2;
  background-color: variables.$selection;
}

body {
  font-family: system-ui;
  min-width: variables.$min-width;
  max-width: 100vw;
  height: 100vh;
  background: variables.$primary-1;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  height: 100%;
}

h1 {
  color: variables.$primary-2;
}

.invisible-label {
  position: absolute;
  opacity: 0;
}
